$option-border: 1px #ccc solid;
$app-bg-c-1: #f1ddb6;
$app-bg-c-2: #f0dab3;
$app-bg: linear-gradient(0deg, $app-bg-c-1 0%, $app-bg-c-2 60%);
$bars-color: #6b4806;
$header-bg: #c7a86f;
$font-color: #5f4618;
$li-hover-bg: #b4893a;
$li-selected-bg: #9e7934;
$li-border: 1px solid #5f4618;
$select-bg-first: #dabe8c;
$select-bg-last: #caaf81;
$select-bg-button: #c4a365;
$select-border: 1px solid #5f4618;
$company-n-2: #e7c88f;
$company-n-3: #e4c690;
$company-n-4: #d1bb92;
$company-n-5: #e4cda1;
$company-n-6: #d3b987;
$popup-bg-color: #fff0d5;
$popup-close-btn-border: 1px solid #5f4618;

* {
  box-sizing: border-box;
}

body {
  background: $app-bg;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  outline: 0;
}

header {
  display: flex;
  flex-direction: column;
  height: 7.5vh;
  justify-content: flex-start;
  max-height: 7.5vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: max-height .4s ease-in-out;
  width: 100%;
  z-index: 999;

  >div {
    background-color: $header-bg;
    display: flex;
  }

  >:first-child {
    justify-content: space-between;
    width: 100%;

    >:last-child {
      height: 7.5vh;
    }
  }

  .media-icons {
    display: flex;

    a {
      display: flex;
      margin-right: 10px;
    }

    svg {
      align-self: center;
      height: 35px;
    }

    path {
      fill: $bars-color;
    }
  }

  .hamburger {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 0 20px;

    .bar1,
    .bar2,
    .bar3 {
      background-color: $bars-color;
      border-radius: 2px;
      height: 3px;
      margin: 6px 0;
      transition: .4s;
      width: 30px;
    }
  }

  .brand-logo-svg {
    align-self: center;
    margin: 30px 0;
    width: 70%;
  }

  .change {
    .bar1 {
      transform: rotate(-45deg) translate(-6px, 6px);
    }

    .bar2 {
      opacity: 0;
    }

    .bar3 {
      transform: rotate(45deg) translate(-6px, -6px);
    }
  }

  menu,
  ul {
    margin: 0;
    padding: 0;
  }

  menu {
    background-color: $header-bg;
    height: 100%;
    width: 60%;

    a {
      color: $font-color;
      display: flex;
      font-size: larger;
      justify-content: space-between;
      margin: 10px;
      text-decoration: none;
      text-transform: uppercase;
      width: 80%;
    }

    span {
      align-self: center;
    }

    svg {
      align-self: center;
      height: 35px;
    }

    path {
      fill: $bars-color;
    }
  }

  li {
    border-bottom: $li-border;
    display: flex;
    justify-content: center;

    &:hover {
      background-color: $li-hover-bg;
    }
  }

  .selected {
    background-color: $li-selected-bg;
  }
}

.expand {
  height: auto;
  max-height: 300px;
}

.title {
  color: $font-color;
  display: flex;
  height: 7.5vh;
  justify-content: center;
  margin-top: 7.5vh;
  overflow: hidden;

  h1 {
    margin: auto;
    text-align: center;
  }
}

.companies-selection {
  height: 25vh;
  overflow: hidden;

  .selection {
    display: flex;
    height: 65%;

    option {
      border-bottom: $option-border;
      white-space: nowrap;
      width: 100%;
    }
  }

  select {
    appearance: none;
    border: 0;
    color: $font-color;
    font-size: larger;
    outline: 0;
    overflow: hidden;
    padding: 15px;
    text-align-last: center;
    text-overflow: ellipsis;
    width: 50%;

    &:first-child {
      background-color: $select-bg-first;
    }

    &:last-child {
      background-color: $select-bg-last;
    }
  }

  button {
    background-color: $select-bg-button;
    border: 0;
    color: $font-color;
    font-size: xx-large;
    height: 35%;
    text-transform: uppercase;
    width: 100%;
  }
}

.chart {
  height: 60vh;
  overflow: hidden;

  >div {
    height: 100%;
  }
}

.companies {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 7.5vh;
  max-width: 700px;
  overflow-x: hidden;


  h1 {
    font-size: larger;
    margin: 0;
    text-align: center;
    width: 100%;
  }

  >button {
    background-color: $app-bg-c-1;
    color: $font-color;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    overflow: hidden;
    padding: 15px;
    width: 50%;
    z-index: 1;

    &:hover {
      transform: scale(1.2);
      transition: scale 2s;
      z-index: 0;
    }

    &:nth-child(2n) {
      background-color: $company-n-2;
    }

    &:nth-child(3n) {
      background-color: $company-n-3;
    }

    &:nth-child(4n) {
      background-color: $company-n-4;
    }

    &:nth-child(5n) {
      background-color: $company-n-5;
    }

    &:nth-child(13n) {
      background-color: $company-n-6;
    }

    &:nth-child(17n) {
      background-color: $company-n-6;
    }
  }

  span {
    text-align: center;
    width: 100%;
  }
}

.company-popup {
  color: $font-color;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  margin: 0 10%;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 80%;
  z-index: 99;

  >div {
    align-self: center;
    background-color: $popup-bg-color;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;


  }

  .btns {
    display: flex;
    justify-content: center;

    >button {
      align-self: center;
      background-color: $company-n-3;
      border: $popup-close-btn-border;
      border-radius: 5px;
      color: $font-color;
      font-size: large;
      font-weight: bolder;
      margin: 10px;
      padding: 7.5px 15px;
      width: auto;
    }
  }

  .header-popup {
    background-color: $select-bg-button;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;

    button {
      background-color: $popup-bg-color;
      border: 0;
      color: $font-color;
      font-size: large;
      font-weight: bolder;
    }
  }

  .info {
    display: flex;
    flex-wrap: wrap;

    >div {
      border: $select-border;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      height: 75px;
      justify-content: center;
      margin: 10px;
      width: calc(50% - 20px);
    }

    p {
      margin: 0;
      text-align: center;
      text-transform: capitalize;
    }

    h4 {
      margin: 0;
      text-align: center;
    }
  }

  h1 {
    font-size: xx-large;
    padding: 20px;
  }
}

.info-svg {
  width: 35px;
}

.details {
  margin-top: 7.5vh;

  >div {
    padding: 0 30px;
    width: 100%;

    &:last-child {
      bottom: 0;
      display: flex;
      justify-content: center;
      position: absolute;
    }
  }

  .title {
    flex-direction: column;
    height: auto;
    padding-top: 20px;

    h2 {
      margin: 0;
    }

    p {
      margin: 0;
      text-align: center;
    }
  }

  .index {
    color: $font-color;
    font-size: small;

    h1 {
      margin-bottom: 0;
    }

    span {
      font-size: small;
    }
  }

  h4 {
    margin: 0;
  }

  .capital {
    margin: 20px 0;
  }

  a {
    align-self: baseline;
    background-color: $li-hover-bg;
    border-radius: 5px;
    color: $font-color * .5;
    margin: 20px auto;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
  }
}
